<app-topbar>
</app-topbar>

<!--===========app body start===========-->
<div class="app-body">

  <!--left sidebar start-->
  <app-sidebar></app-sidebar>
  <!--left sidebar end-->

  <!--main contents start-->
  <main class="main-content">
    <!--page title start-->
    <div class="page-title">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-8">
            <h4 class="mb-0"> Home
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
              <li class="breadcrumb-item active">Home</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--page title end-->

    <div class="container-fluid">

      <!--state widget start-->
      <div class="row">
        <div class="col-md-12">
          <div class="card card-shadow">
            <div class="card-header">
              <div class="card-title">
                New File
              </div>
            </div>
            <div class="card-body">
              <app-file-upload></app-file-upload>
            </div>
          </div>
        </div>
      </div>
      <!--state widget end-->
      <br>
      <div class="row">
        <div class=" col-md-12">
          <div class="card card-shadow mb-4">
            <div class="card-header">
              <div class="card-title">
                All Medias
                <button class="btn btn-danger btn-sm float-right" *ngIf="selectedFile" (click)="onDelete()">Delete</button>
              </div>
            </div>
            <div class="card-body medias">
              <div class="row">
                <div class="col-md-3 media" *ngFor="let media of medias">
                  <div class="card-img" *ngIf="media.path" (click)="onSelected(media)">
                    <img [src]="media.path" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <!--main contents end-->

</div>
<!--===========app body end===========-->

<app-footer></app-footer>
